header{
    text-align: center;
    font-size: 36pt;
    margin-bottom: 10px;;
    border: solid red 3px;
}

h2 {
    font-size: 18pt;
}

#gif-display{
    text-align: center;
    display: inline-block;
    width: 80%;
    border: solid red 3px;
}

#side-nav{
    float: right;
    width: 20%;
    border: solid red 3px;
}

.gif-button{
    padding: 10px 5px 10px 5px;
    margin: 3px;
    background-color: pink;
    border-color: pink;
    font-weight: bold;
}

label {
    color: crimson;
    font-size: 14pt;
    font-weight: bold;
}