body {
    background-color: lightblue;
}

header{
    text-align: center;
    font-size: 48pt;
    margin-bottom: 10px;;
    font-family: 'Knewave', cursive;
}

h2 {
    font-size: 18pt;
    font-family: 'Bree Serif', serif;
}

#gif-buttons{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

#gif-display{
    text-align: center;
    display: inline-block;
    width: 67%;
}

#side-nav{
    float: right;
    position: relative;
    margin-right: 2.5%;
    padding: 10px;
    width: 27%;
    border: solid red 3px;
}

.gif-button, #next-page, .download{
    padding: 10px 5px 10px 5px;
    margin: 3px;
    background-color: pink;
    border-color: pink;
    font-weight: bold;
}

.download {
    background-color: #aafbdc;
    border-color: #aafbdc;
}

#next-page{
    display: block;
    margin: 10px auto 10px auto;
}

label {
    color: crimson;
    font-size: 14pt;
    font-weight: bold;
}

.gif-box {
    display: inline-block;
    margin: 5px;
}
